---
import Layout from '../layouts/Post.astro';
---

<Layout
	title="About"
	description="Osmanthus brings forth innovative voices in letters."
	pubDate={new Date()}
  	heroImage=""
>
<p>
		Osmanthus is a community that gather around culture, poetry, and technology.
	</p>

	<p>
		Osmanthus publishes a digital magazine titled EarShrub. Weekly essays are sent out to subscribers currently distributed via Substack.
    Visit <a href="https://osmanthusnotebook.substack.com">EarShrub to view previous newsletters and subscribe.</a> EarShrub will
    always publish in support of the current featured artist.
	</p>

	<h4>Editors</h4>
	<p>
		Our editors are suspended in the vicinity of the US, Canada, and China. </br>
    <strong>Editorial Team:</strong> Jon Miller and Carl Watts
	</p>
  
  <h4>Contributors</h4>
  <p>Matthew Schmidt &emsp; &emsp; Rivka Clifton &emsp; &emsp; Sean Robertson &emsp; &emsp; Brent Raycroft</p>
  <p>Nathanael T. Booth</p>
  

	<p>
		<strong>Substack Edition:</strong>
		<a href="osmanthusnotebook.substack.com">osmanthusnotebook.substack.com</a>
		</br>
		<strong>Twitter:</strong> <a href="https://twitter.com/osmanthustxt">@osmanthustxt</a>
		<strong>Soundcloud:</strong> <a href="https://soundcloud.com/osmanthus">osmanthus</a>
	</p>
</Layout>
