---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/osmanthus-logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Osmanthus</title>
	</head>
	<body>
    <div style="text-align: center">
      <img src="/base-layer-photo.png" style= "width:1260px; height: 750px;" alt="osmanthus tree with glitchy salamander">
    </div>
		<div id="paragraph-block">
      <p>A magazine and community that gathers around poetry, culture, and technology. </br>
         Our website is currently undergoing a redesign. Please check back shortly. </br>
         Visit <a href="https://earshrub.substack.com">here to read some essays published in</a> Earshrub.
	  </div>
  </body>
</html>

<style>
  p {
    text-align: center;
    font-size: 1.6em;
    font-family: sans-serif;
}
</style>

