---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/osmanthus-logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Osmanthus</title>
	</head>
	<body>
		<h1>Welcome to Osmanthus</h1>
    <p>A magazine and community that gathers around poetry, culture, and technology.</p>
    <p>Our website is currently undergoing a redesign. Please check back shortly.</p>
    <p>Visit here to read some essays published in <a href="https://earshrub.substack.com">Earshrub</a>
	</body>
</html>
