---
import Layout from '../layouts/Post.astro';
---
<Layout>

<p><i>Disclaimer: Osmanthus has published chapbooks in the past. Despite a break due to the pandemic, Osmanthus may continue to publish again in the future. Please stay tuned for open-calls for submissions.</i></p>
  
<h5><strong>2021</strong></h5>
<p><i>Menacing Sense</i> | Andrew Wells</p>

<h5><strong>2020</strong></h5>
<p><i>Honor Your Speed</i> | James Butler-Gruett & Gabriel Dozal</p>
<p><i>William Atlas</i> | Joshua Rothes</p>
<p><i>MOT</i> | Rivka Clifton</p>
<p><i>Agape</i> | Rivka Clifton</p>

</Layout>